.section--projects {
    margin-top: 1.5rem;
}

.projects-list {
    list-style: none;
    padding: 0;
    margin: 0 0 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.projects-list__item {}

.projects-list__link {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-family: "Montserrat", system-ui, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: #ffa371;
    text-decoration: underline;
}

.projects-list__icon {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    object-fit: cover;
}