.timeline {
    position: relative;
    margin: 2rem 0 3rem;
    padding-left: 2rem;
}

.timeline::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #fff;
    opacity: 0.4;
}

.timeline__item {
    position: relative;
    text-align: center;
    margin-bottom: 3rem;
}

.timeline__year {
    font-family: "Montserrat", system-ui, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 0.5rem;
}

.timeline__dot {
    width: 115px;
    height: 115px;
    margin: 0 auto 0.75rem;
    border-radius: 9999px;
    background: #ffa371;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.timeline__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.timeline__name {
    font-family: "Montserrat", system-ui, sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 0.25rem;
}

.timeline__text {
    font-family: Helvetica, system-ui, sans-serif;
    font-size: 0.8rem;
    color: #fff;
    max-width: 240px;
    margin: 0 auto;
}