.footer {
    background-color: var(--color-brand);
    /* #04009F */
    color: var(--color-neutral-0);
    padding-block: 2.5rem 1.5rem;
}

.footer__inner {
    display: grid;
    row-gap: 2rem;
}

.footer__brand {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.footer__logo {
    width: 43px;
    height: 43px;
    border-radius: 50%;
}

.footer__site-name {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 1rem;
}

.footer__title {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 0.95rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.footer__link {
    color: var(--color-neutral-0);
    text-decoration: none;
    font-family: var(--font-body);
    font-size: 0.85rem;
    font-weight: 700;
}

.footer__link:hover,
.footer__link:focus-visible {
    text-decoration: underline;
}

.footer__link--silent {
    font-weight: 400;
    text-decoration: underline;
}

.footer__infos {
    font-style: normal;
    font-size: 0.85rem;
}

.footer__author {
    margin-top: 0.5rem;
}

.footer__legal {
    margin-top: 2rem;
    text-align: center;
    font-size: 0.7rem;
    max-width: 22rem;
    margin-inline: auto;
}