@import "./utils/variables.css";
@import "./layout/header.css";
@import "./layout/footer.css";
@import "./base/formulaire-contact.css";
@import "./base/frise.css";
@import "./base/autres-projets.css";
@import "./base/glossaire.css";
@import "./base/cards-recos.css";

html,
body {
    margin: 0;
    padding: 0;
}