@import "./utils/variables.css";
@import "./base/main.css";
@import "./layout/header.css";
@import "./layout/footer.css";
@import "./base/formulaire-contact.css";
@import "./base/frise.css";
@import "./base/autres-projets.css";
@import "./base/glossaire.css";
@import "./base/cards-recos.css";
@import "./base/cardsmenu.css";
@import "/src/css/components/hero.css";
@import "./components/boutons.css";

html {
    background: transparent;
}

html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--noir);
    color: var(--blanc);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}